<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @borrower.first_name %> </h1>
    <p>
      <%=@owner.first_name%> voudrait récupérer son livre.
    </p>
    <p>
      N'hésite pas à la contacter :) 
    </p>
    <p> À très vite sur Sharespeare.fr
  </body>
</html>