<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <center>

<div class="card text-center mt-5" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut <%= @borrower.first_name %></h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
    Ta demande d'emprunt a été refusé par <%=@owner.first_name%> :'(
    <br> Retrouve pleins d'autres livres disponible sur la platforme :D
    </h4>

    <br><br><br>

    <p class="card-text">
      Pour retrouver les informations de cet emprunt, tu peux suivre ce lien
    </p>
    <%= link_to "Detail de l'emprunt", bookcopy_borrow_url(@borrow.book_copy_id,@borrow.id), class: "btn btn-primary btn-round btn-lg"%>

    <br><br><br>



  </div>
</div>
</center>
</body>
</html>
