<div class="card text-center mt-5" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut <%= @owner.first_name %></h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      Tu as reçu une nouvelle demande d'emprunt de la part de <%= @borrower.first_name %> ! :D
    </h4>
  </div>
</div>
