<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @owner.first_name %> </h1>
    <p>
      Tu as reçu une nouvelle demande d'emprunt de la part de <%= @borrower.first_name %>.
    </p>
    <p>
      Pour accéder à cette demande, RDV sur ton dashboard.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>