
  <center>

<div class="card text-center mt-5" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut <%= @borrower.first_name %></h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      <%= @owner.first_name %> a bien confirmé qu'il a récupéré son livre :D
      Laisse lui un avis sur son profil :) 
    </h4>

    <p class="card-text">
      Bonne lecture sur shaRespeare
    </p>

  </div>
</div>

</center>
