<div class="card text-center mt-5" style="width: 30rem;" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut à toi et bienvenue sur shaRespeare</h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      Tu t'es inscrit sur shaRespeare.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </h4>
    <p class="card-text">
      Pour accéder à ton espace client, connecte-toi <%= link_to 'ici', @url %>
    </p>
    <p>
      À très vite sur shaRespeare !
    </p>
  </div>
</div>