


    <div class="card text-center mt-5"  data-background-color="black">
      <div class="card-header mt-2">
        <h1>Salut <b><%= @user.first_name %></b> et bienvenue sur ShaRespeare ! </h1>
      </div>

      <div class="card-body">
        <h4 class="card-title">
          Merci de participer au lancement de l'application. Comme tu vas le voir, ShaRespeare est encore tout petit et pleins de possibilités d'améliorations.
          Nous serions très heureux d'avoir tes retours :) <br> <br>En attendant profite-en bien :D  <br>

        </h4>
        <p class="card-text">
          Pour accéder à ShaRespeare, clique <b><%= link_to 'ici', @url %></b>
        </p>
        <p>
          À très vite sur shaRespeare.fr !

        </p>
        <small>L'équipe ShaRespeare</small>
      </div>
    </div>
