<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>

    <div class="my-auto" style= "background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2053&q=80');background-size: cover; height: 100vh;">
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>

    <div class="container">
      <div class="card bg-light-gray" id='book-form'>
        <div class="card-header text-center">
          <h1>Salut à toi et bienvenue chez nous !</h1>
          <p>
            Tu t'es inscrit sur sharespeare.fr en utilisant l'e-mail suivant : <%= @user.email %>.
          </p>
          <p>
            Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
          </p>
          <p>
            À très vite sur sharespeare.fr
          </p>
        </div>
      </div>
    


  </body>
</html>