<div class=“my-auto” style= “background-image: url(’https://images.unsplash.com/photo-1517770413964-df8ca61194a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');background-size: cover; height: 100vh;“>
<br>
<br>
<br>
<br>
<br>
  <div class="container ">
    <div class="card text-center my-auto">
      <div class="card-body">
        <h3 class="card-title"> Vous venez de donner <strong> <%=@amount / 100%> € </strong>!</h3>
      </div>
      
      <div class="card-footer text-muted mb-2">
        <div class="card-header mt-2">
          <h4 class="card-title">L'équipe de Sharespeare vous remerice :)</h4> 
            <%= form_tag home_index_path, method: :get do %>
                <%= button_tag "Acceuil", class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>