<div class="card text-center">

  <div class="card-header mt-2">
    Vous venez de donner 
  </div>

  <div class="card-body">
    <h4 class="card-title">L'équipe de Sharespeare vous remerice :)</h4> 
    <%= form_tag home_index_path, method: :get do %>
        <%= button_tag "Acceuil", class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>