<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>

  <div class="homepage_title">
      <%= image_tag("homepage/img3.jpg", :class => "homepage_img")%>
      <h1 class="homepage_title_1">Read, share, have fun
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search_bar">
      </h1>

    <br>
    <br>

    <%= render 'home/recommendation' %>

  </body>

</html>
