<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true">
            </div>
            <div class="content-center">
                <h3 class="title">Résultats de la recherche</h3>
            </div>
        </div>

        <div class="container section">
          <center>
            <%= render 'home/bookcopies' %>
          </center>
        </div>

        <footer class="footer footer-default ">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#creative">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                </div>
            </div>
        </footer>
    </div>