<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <center>
    <div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" >
            <div class="page-header-image" data-parallax="true" style="background-image: url(<%= asset_path "back_img9.jpg" %>) ;">
            </div>
        </div>

      <%= yield %>
                  
      </div>
      </div>


    </center>
  </body>

</html>
