<div class="card text-center mt-5" style="width: 30rem;" data-background-color="black">
  <div class="card-header mt-2">
    <h1>Salut </h1>
  </div>

  <div class="card-body">
    <h4 class="card-title">
      Tu viens de t'inscrire avec le mail suivant : <%= @email %>
    </h4>
    <br>
    <h3>
      Tu dois confirmer ton inscription en cliquant sur le lien ci - dessous
    </h3>
    <%= link_to 'Confirmer mon inscription', confirmation_url(@resource, confirmation_token: @token) %>
  </div>

  <div class="card-footer text-muted mb-2">
    Mail automatique
  </div>
  
</div>