<div class="card text-center mt-5" style="width: 30rem;" data-background-color="black">
  <div class="card-header mt-2">
    <h1> Salut </h1>
  </div>
  
  <div class="card-body">
    <h4 class="card-title">
      Nous t'annonçons que tu as modifé ton mot de passe
    </h4>
  </div>

  <div class="card-footer text-muted mb-2">
    Mail automatique
  </div>
  
</div>