<div class="card text-center mt-5" style="width: 30rem;" data-background-color="black">
  <div class="card-header mt-2">
    <h1> Salut </h1>
  </div>
  
  <div class="card-body">
    <h4 class="card-title">
      Quelqu'un a demandé un lien pour réinitialisé ton mot de passe. Tu peux le faire à l'aide du lien ci dessous
    </h4>
    <br>
    <%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %>
    <br>
    <h3>
        Si tu n'as pas fait cette demande, merci d'ignorer ce mail. Ton mot de passe ne chagera pas tant que tu ne cliques pas sur le lien ci-dessus.
    </h3>
  </div>

  <div class="card-footer text-muted mb-2">
    Mail automatique
  </div>
</div>